.footer {
    color: grey; font-size: 10px;
    position: absolute; bottom: 16px; left: 60px;
    text-align:left;
}

div.stargazer 
{
    text-align: center;
}

div.stargazer table 
{
    margin: 20px auto; 
    text-align: left;
}

div.stargazer td
{
  padding-left: 20px;
}
